{
  "parser": "babel-eslint",
  "rules": {
    "no-unused-vars": "error",
    "quotes": ["error", "single"]
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": [
    "eslint:recommended"
  ]
}
